Consider making header names case insensitive

When posting a content-type header, pistache endpoint only correctly parses the header when "Content-Type" is capitalized. I am not sure about standards, but when I ran a package analysis on Swagger UI example requests http://petstore.swagger.io/, I noticed that they use "content-type" **not** capitalized.

I think `request.headers().get<Http::Header::ContentType>()` should accept both "Content-Type" and "content-type". Currently, if you use `curl localhost -X POST -H "Content-Type: application/json"` and look at the `mime()`, it is correctly recognized as `application/json`. Using the non-capitalized version however, it throws `Could not find header`.

I understand this issue might be up for discussion, but I believe being more lenient on capitalization is the more graceful thing to do here, especially if there are other finished products that you may want to use in conjunction with pistache.io and use "content-type" in their framework, since that case will make debugging and fixing the problem for "end-user" developers rather tedious.

Hello,

You are completely right. Currently, headers are stored in a `std::unordered_map` for constant-time access, which makes case-insensitive access a little bit tricky (we would need to define our own case-insensitive `std::hash`, or insert lower-case header names into the map).

I think I'll consider switching from `std::unordered_map` to `std::vector` or even `SmallVector`. Lookup will be linear this time but I do not really expect requests to have that much headers. Case-insensitive lookup should then be trivial 

I would probably just transform all header lookup requests into lower-case and only insert lower-case header names into whatever data structure you choose to utilize. The case insensitive hash sounds like a somewhat complicated approach and you won't enforce that there is only one version of the case-insensitive string in the data structure.

I think this should be a mandatory change, because, according to [IETF RFC 7230, section 3.2 (Header Fields)](https://tools.ietf.org/html/rfc7230#section-3.2):
> Each header field consists of a case-insensitive field name followed
> by a colon (":"), optional leading whitespace, the field value, and
> optional trailing whitespace

I have a similar problem with [Postman](https://www.getpostman.com/) (a simple HTTP client) sending "content-length" instead of "Content-Length". 

Should be closed? https://github.com/oktal/pistache/commit/54a373157f7bcdb4ceb3ddd6914bc6f587fd6b58